

<p>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="User Name" (keyup)="searchByName()" [(ngModel)] = 'nameSearch'>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</p>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="userId">
        <mat-header-cell mat-sort-header *matHeaderCellDef> User ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>
 
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.emailAddress}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
      <mat-row (click)="addRows($event)"  *matRowDef="let row; columns: displayedColumns;" ></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[1,3,5]"
                   showFirstLastButtons pageSize="3">
    </mat-paginator>
  </div>
  